// Mixins
@mixin center($margin-center: true, $zero-margin: true){
    @if($margin-center){
        @if($zero-margin){
            margin: 0 auto;
        }@else {
            margin: {
                left: auto;
                right: auto;
            }
        }
    }@else {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @if($zero-margin){
            margin: 0;
        }
    }
}

@mixin flatten($list: false) {
    margin: 0;
    padding: 0;
    @if($list){
        list-style: none;
    } @else {
        line-height: 1;
    }
}

@mixin plain-link($color: $site-white) {
    text-decoration: none;
    color: $color;
}

@mixin flex($ai: false, $jc: false, $wrap: true){
    display:flex;
    @if($ai == true){
        align-items: center;
    }@else if($ai == false) {
        align-items: stretch;
    }@else if($ai == 'start') {
        align-items: flex-start
    }@else if($ai == 'end') {
        align-items: flex-end;
    }
    @if($jc){
        justify-content: center;
    }@else {
        justify-content: space-between;
    }
    @if($wrap){
        flex-wrap: wrap;
    }
}


// Media Query Mixin
@mixin mq($w) {
    @media (max-width: $w) {
      @content;
    }
}












